
:root{
   --primary: #D077ED;
  --accent: #6A1B9A;
  --secondary: #F1F7FD;
  --bg: #E1ECF5;
  --white: #fff;
  --dark: #333;
}

main{
  margin-top:100px;
  /* background-color:rgb(255, 255, 255);  */
  width: 100%;
  border-radius:15px ;
}

.loc1,.loc2{
  font-size: 2.5rem;
  text-align: center;
  color:  #6A1B9A;
  position: relative;
}






.imag-container{
  /* columns: 300px;
  padding: 30px 50px; */
  /* display: grid;
grid-template-columns: repeat(3,1fr);
gap: 20px; 
column-count: 3;*/
margin-top: 50px ;
margin-left: 5%;
width: 90%;
align-items: center;
height: 500px;
display: flex;
justify-content: center;
gap: 10px;
overflow: hidden;
padding: 30px 50px;
background-color: #cd86f9;
border-radius: 20px;
margin-bottom: 50px;



}
.imag-container2{
  /* columns: 300px;
  padding: 30px 50px; */
  /* display: grid;
grid-template-columns: repeat(3,1fr);
gap: 20px; 
column-count: 3;*/
margin-top: 50px ;
margin-left: 5%;
width: 90%;
align-items: center;
height: 500px;
display: flex;
justify-content: center;
gap: 10px;
overflow: hidden;
padding: 30px 50px;
background-color: #cd86f9;
border-radius: 20px;


}


.hos-img{
  
  width: 10%;
  height: 90%;
  flex: 1;
  object-fit: cover;
  object-position: 50%;
  margin-bottom: 1em;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 18px;
  border: 3px solid rgb(255, 0, 0);
  box-shadow: 1px 1px 5px black,-1px -1px 5px black,-1px 1px 5px black;
  overflow: hidden;
 
}

.hos-img1{
  
  width: 10%;
  height: 90%;
  flex: 1;
  object-fit: cover;
  object-position: 50%;
  margin-bottom: 1em;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  border-radius: 18px;
  border: 3px solid rgb(255, 0, 0);
  box-shadow: 1px 1px 5px black,-1px -1px 5px black,-1px 1px 5px black;
 
}

.hos-img:hover{
  flex: 3;
 
}

.hos-img1:hover{
 flex: 4;
}


@media (max-width:720px) {
 .imag-container{
  height: 650px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 30px;
  row-gap: 50px;
   
  }

  .imag-container2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 30px;
    row-gap: 25px;
     
    }

  .hos-img{
  
     width: 110%;
    height:140%;
    flex: 0;
    object-fit:fill;
    object-position: 70%;
    margin-bottom: 1em;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-radius: 18px;
    border: 3px solid rgb(255, 0, 0);
    box-shadow: 1px 1px 5px black,-1px -1px 5px black,-1px 1px 5px black;
    overflow: hidden;
   
  }
  .hos-img1{
  
    width: 100%;
   height:100%;
   flex: 0;
   object-fit:fill;
   object-position: 70%;
   margin-bottom: 1em;
   cursor: pointer;
   transition: all 0.5s ease-in-out;
   border-radius: 18px;
   border: 3px solid rgb(255, 0, 0);
   box-shadow: 1px 1px 5px black,-1px -1px 5px black,-1px 1px 5px black;
   overflow: hidden;
  
 }
  
}
/* 
 
.hos-img:nth-child(odd){
  animation: fade-left 2s cubic-bezier(0,.9,.3,1.2) forwards;
  opacity: 0;
  
}

.hos-img:nth-child(even){
  animation: fade-right 2s cubic-bezier(0,.9,.3,1.2) forwards;
  opacity: 0;
  
}

@keyframes fade-left {
  from{
    transform: translateY(-3rem);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;

  }
}


@keyframes fade-right {
  from{
    transform: translateX(2rem);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;

  } 
} 


img1:hover{
  transform: scale(0.96);
} */